/* //************************************************************************************************** */

/* Paleta de Colores */
/* Verde oscuro         #045e2d */
/* Negro Envejecido     #191919 */
/* Blanco               #ffffff */

/* ********************************************************************************************************** */

/* CSS Reset */
* {
    Margin: 0;
    Padding: 0;
    box-sizing: border-box;
    color: #ffffff
}


/*************************************************************************************************************

/*HEADER*/
header {
    border-top: 15px solid #045e2d;
    border-bottom: 15px solid #045e2d;
    background-color: #191919;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 190px;
}

/* Contenedor general Header */
header .header-contenedor {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
}

/* Contenedores DIV */

header .logo {
    width: 20%;
}

header .titulo-header {
    width: 40%;
}

header .botones-registro {
    width: 20%;
}

header .favoritos {
    width: 20%;
}

header .logo img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

header .titulo-header h1 {
    text-shadow: 3px 3px 2px rgba(255, 187, 66, 0.6);
    font-size: 2.5rem;
    text-align: center;
}

header .titulo-header h2 {
    font-size: 1.5rem;
    text-align: center;
}

header .logo-carrito img {
    width: 40px;
    height: 40px;
}

header .logo-carrito i {
    font-size: 30px;
}

.logo-corazon {
    color: #ff0303;
    cursor: pointer;
    font-size: 30px;
}

.favoritos {
    display: flex;
    width: 40px;
    height: 20px;
    align-items: center;
    align-content: center;
}

.login-usuario {
    color: white;
    font-size: 700;
    text-align: right;
    padding-right: 30px;

}

/**************************************************************************************************************

/* BODY */

main {
    background-color: #191919;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 10px 0px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.contenedor img {
    width: 280px;
    height: 260px;
    /* object-fit: cover; */
    border-radius: 15px 15px 15px 15px;
}

.contenedor-elementos {
    background-color: #fc7800;
    box-shadow: 2px 2px 2px 1px rgba(241, 239, 239, 0.918);
    border-radius: 15px;
    text-align: center;
    padding-bottom: 10px;
}

.contenedor-elementos:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 2px 1px rgba(240, 0, 14, 0.75);
    background-color: #045e2d;
}

.nom-produ {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #b80d0d;
}

.precio-items {
    font-size: 20;
    font-weight: 500;
}

.boton-ver-detalles,
.boton-simula-credito {
    background-color: #191919;
    width: 100px;
    height: 35px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0px white;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.corazon-favorito {
    color: #ff0303;
    cursor: pointer;

}

#numero {
    font-size: 20px;
    color: #ff0303;
    font-weight: 700;
}

/* ************************************************************************************************ */

/* Tabla amortizacion */

.input-group { /* funciona bien*/
    margin: 2px 0;
    border: 1px solid #191919;
    border-radius: 5px;
}

.contenedor-amortizacion { /* funciona bien - NUEVO*/
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    border: 3px solid red;
    border-radius: 8px;
}


.titulo-amortizacion { /* funciona bien*/
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #045e2d;
    border-radius: 5px;
}


#columnas-tabla-amortizacion {
    background-color:white; /* Ojo: era blanco*/
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;

    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
    grid-template-rows: 40px;
    font-size: 8px;
}

.supercontenedor h1 { /* funciona bien*/
    font-size: 30px;
}

.supercontenedor h2 { /* funciona bien*/
    font-size: 18px;
}

section p {/* funciona bien*/
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 500;
}

.botones-simula {/* funciona bien*/
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.columnas-tabla { /* funciona bien*/
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #b80d0d;
    margin: 1px
}



/* ************************************************************************************************* */

/* //Ventana modal de detalles */

#modal {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgb(0, 0, 0, 0.75);
    display: flex;
}

.modal-contenedor {
    margin: auto;
    width: 85%;
    max-width: 800px;
    max-height: 100%;
    background-color: #c5baaf;
    border-radius: 10px;
    padding: 5px 5px;


    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    column-gap: 8px;
    row-gap: 2px;
}

.modal-mostrar {
    opacity: 1;
    pointer-events: unset;
}

.cerrar {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ff0303;
    font-size: 30px;
}

.tabla-imagen {
    width: 100%;
    position: relative;
    align-content: center;
    align-items: center;
}

.tabla-imagen img {
    position: absolute;
    top: 5px;
    right: 0px;
    Width: 100%;
    border-radius: 15px;
    padding: 0px 3px;
}

.tabla-caracteristicas h1 {
    font-size: 2rem;
    color: #ff0303;
    font-weight: 400;
    text-align: center;
}

.tabla-caracteristicas h3 {
    font-size: 1rem;
    color: #f3eded;
    font-weight: 300;
    text-align: center;
}

.titulo-caracteristica {
    background-color: #191919;
    border-radius: 5px;
}

.valor-caracteristica {
    background-color: rgb(71, 64, 64);
    border-radius: 3px;
}










